<header class="header">
    <h1 class="header__logo">
        <a href="javascript:;" class="header__logo__link">
            <img src="../assets/images/header/logo.png" alt="logo">
        </a>
    </h1>
    <nav class="gnb__area">
        <ul class="gnb">
            <li class="gnb__item"><a href="javascript:;" class="gnb__item__link">Trade</a></li>
            <li class="gnb__item"><a href="javascript:;" class="gnb__item__link">Stake</a></li>
            <li class="gnb__item"><a href="javascript:;" class="gnb__item__link">Analytics</a></li>
            <li class="gnb__item">
                <a href="javascript:;" class="gnb__item__link community__item__link" id="community__item__link">
                    Community 
                    <span class="svg__wrap">
                        <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 1.25L4.5 4.75L1 1.25" stroke="white" stroke-opacity="0.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </a>
                <ul class="community__sub">
                    <li class="community__sub__list"><a href="javascript:;" class="community__sub__link">Socail media</a></li>
                    <li class="community__sub__list"><a href="javascript:;" class="community__sub__link">Spearhead</a></li>
                    <li class="community__sub__list"><a href="javascript:;" class="community__sub__link">IDO (Initial Defi Offering)</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <ul class="select__area">
        <li class="select__item">
            <button type="button" class="btn__wallet">
                <span class="svg__wrap">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 12V8H6C5.46957 8 4.96086 7.78929 4.58579 7.41421C4.21071 7.03914 4 6.53043 4 6C4 4.9 4.9 4 6 4H18V8" stroke="#01AA68" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M4 6V18C4 19.1 4.9 20 6 20H20V16" stroke="#01AA68" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18 12C17.4696 12 16.9609 12.2107 16.5858 12.5858C16.2107 12.9609 16 13.4696 16 14C16 15.1 16.9 16 18 16H22V12H18Z" stroke="#01AA68" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                <span class="txt">Connect wallet</span>
            </button>
        </li>
        <li class="select__item secon__select__item">
            <span class="svg__wrap">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="#01AA68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="#01AA68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="#01AA68" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <ul class="sub__select__area">
                <li class="sub__select__item">
                    <a href="javascript:;" class="sub__select__link">
                        <span class="svg__wrap"><img src="../assets/images/header/ico_frame_about.png" alt="about us"></span>
                        <span class="sub__txt">About us</span>
                    </a>
                </li>
                <li class="sub__select__item">
                    <a href="javascript:;" class="sub__select__link">
                        <span class="svg__wrap"><img src="../assets/images/header/ico_frame_text.png" alt="Documentation"></span>
                        <span class="sub__txt">Documentation</span>
                    </a>
                </li>
                <li class="sub__select__item">
                    <a href="javascript:;" class="sub__select__link">
                        <span class="svg__wrap"><img src="../assets/images/header/ico_frame_code.png" alt="Code"></span>
                        <span class="sub__txt">Code</span>
                    </a>
                </li>
                <li class="sub__select__item">
                    <a href="javascript:;" class="sub__select__link">
                        <span class="svg__wrap"><img src="../assets/images/header/ico_frame_user.png" alt="Referral program"></span>
                        <span class="sub__txt">Referral program</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>