@charset "UTF-8";

/* *******************************************************
    filename : common.css
    description : common CSS
******************************************************** */

/* display style =================================== */

/* flex space-between */
.felx-space-between{display: flex; justify-content: space-between; -webkit-justify-content: space-between}

/* flex center */
.dsp-felx-center{display: flex; justify-content: center; -webkit-justify-content: center; align-items: center;-webkit-align-items: center;}

/* font style =================================== */

/* text-align */
.text-align-center{text-align: center;}
.text-align-right{text-align: right;}

/* font-size */


/* font-bold */
.font-bold{font-weight: bold;}