@charset "utf-8"; 

@use "sass:color";

// -*- primary-color
$masterBgColor: #22262C;
$masterColor: #2d3862;
$masterWiteColor: #fff;
$masterBlackColor: #000;
$masterGrayColor: #666;
$lightGrayColor: #999;
$darkGray: #333;
$borderColor: #eee;
$greenColor: #01AA68;
$redColor: #E92318;
$pointGreenColor: #369E49;
